.main_container {
    display: flex;
    height: 100vh;
    padding: 25px;
    flex-direction: column;
    background-color: #000000;
}
.header {
    flex: 1;
    
}
.tv_show_detail {
    flex: 2;
   
}
.recommentations {
    flex: 1;
   
}
input{
    border-radius: 30px;
    width: 30vh;
}